<section class='c-info'>
    <div class='c-info__bg'>
        <div class="c-info__header">
            <p class="c-info__titleen">Corporate Information</p>
            <h2 class="c-info__titlejp">企業一覧</h2>
        </div>
        <p class='c-info__subtitle'>愛媛で働きたい。けれど、どんな会社があるか分からない。
            愛媛シゴト図鑑では、愛媛に本社がある企業のみご紹介！</p>
        <div class='c-info__items l-container'>
            <% if (typeof info != 'undefined') { %>
                <% info.items && info.items.forEach(item => { %>
                    <div class='c-info__item'>
                        <div class='c-info__itemimg'>
                            <img src="<%= item.img %>" alt="">
                        </div>
                        <div class='c-info__itemcontent'>
                            <h3 class='c-info__itemtitle'><%= item.title %></h3>
                            <span class='c-info__itemaddress'><%= item.address %></span>
                            <h4 class='c-info__itemmessage'><%= item.message %></h4>
                            <span class='c-info__itemlabel'><%= item.label %></span>
                        </div>
                    </div>
                <% }) %>
            <% } %>       
        </div>
        <a href='#' class='c-button c-info__btn'>
            企業一覧はこちら
        <img class="c-button__arrow" src="./assets/img/arrow.svg" alt="掲載・取材依頼の企業様へ">
        </a>
    </div>

</section>
